
@{
    ViewBag.Title = "jobcategoryTile_dashboard";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
    List<tbl_job_category> tjc = (List<tbl_job_category>)ViewData["tjc"];
    int i = 1;
}

<style>
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #myImg:hover {
            opacity: 0.7;
        }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 20%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 65px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>

<div class="content">
    <div class="col-md-12 column">
        <div class="panel panel-default custom-panel">
            <div class="panel-heading custom-panel-heading">
                <div class="panel-title">Job Category Tile Dashboard</div>
            </div>
            <div class="panel-body custom-panel-body">
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2"><a href="@Url.Action("create_job_category","brief")"><button class="btn btn-primary">create</button></a></div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id Job Category</th>
                                    <th>Job Category</th>
                                    <th>Tile Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in tjc)
                                {
                                    <tr>
                                        <td>@item.id_job_category</td>
                                        <td>@item.job_category</td>                                        
                                        @if(item.tile_image != null)
                                        {
                                            <td><img id="myImg-@i" onclick="imgClick(@i)" src="~/Content/SKILLMUNI_DATA/JobCategoryTile/@item.tile_image" width="40" height="40" /></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td><a href="@Url.Action("edit_job_category","brief",new { idJ = item.id_job_category})"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></a><a href="@Url.Action("delete_job_category","brief",new { idJ = item.id_job_category})"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>@*<a href="@Url.Action("delete_Brief_res","universityKPI",new { idacad = item.id_job_category})" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</a>*@</td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
   // var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    //img.onclick = function () {
    //    modal.style.display = "block";
    //    modalImg.src = this.src;
    //    captionText.innerHTML = this.alt;
    //}

    function imgClick(e) {
        var img = document.getElementById("myImg-"+e);
        modal.style.display = "block";
        modalImg.src = img.src;
        captionText.innerHTML = img.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>