@{
    ViewBag.Title = "contentCreationRichText";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<link rel="stylesheet" href="~/Content/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/datatable/css/dataTables.bootstrap.min.css" />
<script type="text/javascript" src="~/Content/datatable/js/jquery.dataTables.min.js"></script>

<style>
    .brief-note {
        background-color: #ddf2ff;
        border-left: 6px solid #006ef7;
    }

    .brief-note-ans {
        background-color: #f5fbff;
        border-left: 6px solid #a2c6f3;
        margin-left: 30px;
    }

    .brief-panel {
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .left-space {
        padding-left: 20px;
        font-weight: 800;
    }
</style>

@{
    tbl_brief_master brief = (tbl_brief_master)ViewData["briefmaster"];
    tbl_brief_category category = (tbl_brief_category)ViewData["category"];
    tbl_brief_subcategory subcategory = (tbl_brief_subcategory)ViewData["subcategory"];
    List<tbl_brief_metadata> metadata = (List<tbl_brief_metadata>)ViewData["metadata"];
    List<m2ostnext.Models.QuestionList> QuestionList = (List<m2ostnext.Models.QuestionList>)ViewData["questionlist"];
    tbl_user asuser = (tbl_user)ViewData["asuser"];

    bool flag = (bool)ViewData["accessFlag"];
}

@using (Html.BeginForm("setBriefEvaluationAction", "Brief", FormMethod.Post, new { id = "form-add-brief", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="panel panel-default custom-panel">
                <div class="panel-heading custom-panel-heading">
                    <div class="panel-title">skillmuni brief</div>
                </div>
                <div class="panel-body custom-panel-body">

                    <input type="hidden" value="@brief.id_brief_master" id="id_brief_master" name="id_brief_master" />
                    <input type="hidden" value="@asuser.ID_USER" id="id_user" name="id_user" />
                    <input type="hidden" value="@QuestionList.Count" id="qtn_count" name="qtn_count" />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <span class="">category</span><br />
                                            <span class="control-label left-space"> @category.brief_category</span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="control-label">sub-category</span><br />
                                            <span class="control-label left-space">@subcategory.brief_subcategory</span>
                                        </div>
                                        <div class="col-md-4">
                                            <span class="control-label ">Expiry Date</span><br />
                                            <strong> <span class="control-label left-space">@brief.scheduled_timestamp.Value.ToString("dd-MM-yyyy HH:mm")</span></strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="div-theme-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="">brief title</span><br />
                                        <label class="left-space">@brief.brief_title</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="">brief content</span>
                                        @Html.Raw(brief.brief_description)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-12">
                        <div class="panel panel-default custom-panel">
                            <div class="panel-heading custom-panel-heading">
                                <div class="panel-title">questions associated to brief </div>
                            </div>
                            <div class="panel-body custom-panel-body">
                                @{
                                    int i = 1; int j = 1;
                                }

                                @foreach (m2ostnext.Models.QuestionList item in QuestionList)
                                {
                                    <div class="brief-panel brief-note">
                                        <p style="padding:6px;">@item.question.brief_question   </p>
                                        <input type="hidden" value="@item.question.id_brief_question" name="brf-qtn-@i" id="brf-qtn-@i" />
                                    </div><br />
                                    j = 1;
                                    foreach (tbl_brief_answer row in item.answers)
                                    {
                                        <div class="brief-panel brief-note-ans">
                                            @if (j == 1)
                                            {
                                                <input checked="checked" style="margin-right:15px;margin-left:5px;" type="radio" name="brf-ans-@(i)" class="myCheckbox" value="@row.id_brief_answer" /> @row.brief_answer
                                            }
                                            else
                                            {
                                                <input style="margin-right:15px;margin-left:5px;" type="radio" name="brf-ans-@(i)" class="myCheckbox" value="@row.id_brief_answer" /> @row.brief_answer
                                            }
                                        </div><br />
                                        j++;
                                    }
                                    i++;
                                    <hr />
                                }
                                <hr />
                                @if (QuestionList.Count > 0)
                                {
                                    <input id="" type="submit" class="btn btn-default btn-info" name="" value="submit" />
                                }
                            </div>
                        </div>
                    </div>

                    <hr />
                </div>
                <hr />
            </div>
        </div>
    </div>

}