@model IEnumerable<skillmuniAlpha.Models.tbl_organization>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ORGANIZATION_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACTNUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTACTEMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATED_DATE_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_industry.INDUSTRYNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ORGANIZATION_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACTNUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTACTEMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATED_DATE_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_industry.INDUSTRYNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ORGANIZATION }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ORGANIZATION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ORGANIZATION })
        </td>
    </tr>
}

</table>
