@model m2ostnext.Models.IndustryRole
@{
    ViewBag.Title = "edit job";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}
<script>
    $(function () {
        $("#form_edit_category").validationEngine();

    });
</script>
<div class="row clearfix">
    <div class="col-md-12 column">

        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4 class="panel-title">Edit Job Role</h4>
            </div>
            <div class="panel-body">

                @using (Html.BeginForm("edit_job_role_action", "CEJobRole", FormMethod.Post, new { id = "form_edit_category", enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id_evalution_role" value="@Model.id_ce_evaluation_jobrole" />
                    <div class="form-horizontal">
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="FirstName" class="control-label col-md-2 regLabel">Industry Role :</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control validate[required]" value="@Model.ce_industry_role" placeholder="Industry Role" id="Industryrole" name="Industryrole" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="FirstName" class="control-label col-md-2 regLabel">Industry Role Code :</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control validate[required]" readonly value="@Model.ce_role_code" placeholder="Industry code" id="rolecode" name="rolecode" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="FirstName" class="control-label col-md-2 regLabel">Description:</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control validate[required]" placeholder="Description" id="Description" name="Description" rows="6">@Model.description</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Update" class="btn btn-default" style="background-color: #018ccf; color: white; width: 58px; height: 29px;" />
                            </div>
                        </div>
                    </div>
                }
                <hr />
            </div>
        </div>
    </div>
</div>
