
@{
    ViewBag.Title = "M2ost_category_mapping_dashbord";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
    List<m2ostnext.Models.m2ost_category_mapping_dashboard> mapping = (List<m2ostnext.Models.m2ost_category_mapping_dashboard>)ViewData["mapping"];
}

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/registerreport/StyleSheet1.css">
<script type="text/javascript" src="~/Content/registerreport/pagination.js"></script>

<script>

   
    function displayDeleteMessage() {

        $("#success-delete").show();
        setTimeout(function () {
            $("#success-delete").hide();
        }, 3000);
    }

    function deactivateSeminar(cid) {

        var url = '@Url.Action("deactivateSeminar", "M2ostCategoryMapping")';

        $.ajax({
            type: 'POST',
            url: url,
            data: { id_brief: cid },

            success: function (data) {
                displayActivatedMessage();

            }
        });

        location.reload();
    }
    function activateSeminar(cid) {

        var url = '@Url.Action("activateSeminar", "M2ostCategoryMapping")';

        $.ajax({
            type: 'POST',
            url: url,
            data: { id_seminar: cid },

            success: function (data) {
                displayDeleteMessage();

            }
        });

        location.reload();
    }

    function displayDeleteMessage() {

        $("#success-delete").show();
        setTimeout(function () {
            $("#success-delete").hide();
        }, 3000);
    }
    function displayActivatedMessage() {

        $("#success-message").show();
        setTimeout(function () {
            $("#success-message").hide();
        }, 3000);
    }






</script>



<style>
    #manja_wrapper {
        overflow: scroll;
    }

    #manja_filter input {
        border: 1px solid #ccc;
    }

    body {
        counter-reset: Serial; /* Set the Serial counter to 0 */
    }

    table {
        border-collapse: separate;
    }

    tr td:first-child:before {
        counter-increment: Serial; /* Increment the Serial counter */
        content: counter(Serial); /* Display the counter */
    }
</style>

<div class="content">
    <div class="col-md-12 column">
        <div id="success-message" class="alert alert-success" role="alert" style="display:none;">
            <strong>Success : </strong> Mapping  is Deactivated ...
        </div>
        <div id="success-delete" class="alert alert-success" role="alert" style="display:none;">
            <strong>Success : </strong> Seminar is Activated ...
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4 class="panel-title">M2ost Mapping Dashboard</h4>
            </div>
            <div class="form-group">
                @*<div class="col-md-offset-2 col-md-10">
                    <a style="background: #018ccf; color: white;margin-top: 13px;margin-left: -177px;float: right;" href="@Url.Action("add_seminar", "SeminarDashboard")" class="btn btn-default">Create New</a>
                </div>*@
            </div>
            <hr />
            <div class="panel-body">
                @*<input type="hidden" id="id_seminar" name="id_seminar" value="" />*@
                <table id="manja" class="table table-striped table-bordered dataTable small" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th width="10%">
                                Sr No
                            </th>
                            <th width="10%">
                                Brief Title
                            </th>
                            <th width="10%">
                                Type
                            </th>
                            <th width="10%">
                                Url
                            </th>
                            <th width="10%">
                                Category Name
                            </th>
                            <th width="10%">
                                Status
                            </th>
                            <th width="10%">
                                Edit
                            </th>
                            <th width="10%">
                                Deactivate
                            </th>

                        </tr>
                    </thead>
                    @{
                        int i = 0;
                    }
                    <tbody>
                        @foreach (var item in mapping)
                        {
                        <tr>
                            <td></td>
                            <td>
                                @item.brief_title
                            </td>
                            <td>
                                @item.type
                            </td>
                            <td>
                                @item.URL
                            </td>
                            <td>
                                @item.CATEGORYNAME
                            </td>

                            <td>
                                @item.status
                            </td>
                            <td>
                                <a href="@Url.Action("M2ost_category_mapping_edit", "M2ostCategoryMapping", new { id_brief = item.id_brief })"><i class="glyphicon glyphicon-edit"></i></a>
                            </td>
                            <td>
                              <a href="#" onclick="deactivateSeminar('@item.id_brief')"><i class="glyphicon glyphicon-remove-circle"></i></a>
                            </td>
                        </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



