@{
    ViewBag.Title = "assessmentQuestions";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}
@{
    tbl_assessment assessment = (tbl_assessment)ViewData["assessment"];
    List<tbl_assessment_question>
    listassessment_question = (List<tbl_assessment_question>)ViewData["assessment_question"];
    List<tbl_assessment_scoring_key> scoring_key = (List<tbl_assessment_scoring_key>)ViewData["scoring_key"];
    int scoring_key_count = 0;
    if (scoring_key.Count > 0)
    {
        scoring_key_count = scoring_key.Count;
    }
    int flagmsg = (int)ViewData["flag"];
}

<link rel="stylesheet" href="~/Content/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/datatable/css/dataTables.bootstrap.min.css" />
<script type="text/javascript" src="~/Content/datatable/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#table-feed').dataTable({
            "bFilter": false,
            "bLengthChange": false,
            "bAutoWidth": false,
            "aaSorting": []
        });
    });


    $(function () {
        $("#form-add-assessment").validationEngine();
        $("#form-add-assessment-question").validationEngine();
    });

    function select_file(btn, imgf, ban) {
        var file = $("#" + btn + "")[0].files[0];
        var filename = "";
        if (file) {
            filename = file.name;
        } else {
        }
        $("#" + imgf + "").val(filename);
    }

    function show_question_div() {
        $('#add-new-question').show();
        $('html, body').animate({
            scrollTop: $('#question-focus').offset().top
        }, 'slow');
        $('#q-title').focus();

    }

    function delete_question(val) {
        var url1 = '@Url.Action("DeleteQuestion", "Assessment")';
        $.ajax({
            type: 'POST',
            url: url1,
            data: { id: val },
            success: function (data) {
                if (data == 1) {
                    delete_row(val);
                }
            }
        });
    }

    function edit_question(val) {

    }

    function delete_row(id) {
        $("#row_" + id + "").hide();
    }


</script>
<script type="text/javascript">
    $(window).load(function () {

        if (@flagmsg == 1) {
            $('#content-dialog').modal('show');
        }
    });
</script>

<div class="row clearfix">

    <div class="col-md-12 column">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4 class="panel-title">Assessment</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="row">
                        <div class="col-md-2"><h4>Assessment : </h4></div>
                        <div class="col-md-10">
                            <strong>@assessment.assessment_title</strong>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2"><h5>Description : </h5></div>
                        <div class="col-md-10">
                            <strong>@assessment.assesment_description</strong>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2"><h5>Created : </h5></div>
                                <div class="col-md-8">
                                    <strong>@assessment.assess_created.Value.ToShortDateString()</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2"><h5>Start : </h5></div>
                                <div class="col-md-8">
                                    <strong>@assessment.assess_start.Value.ToShortDateString()</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2"><h5>End : </h5></div>
                                <div class="col-md-8">
                                    <strong>@assessment.assess_ended.Value.ToShortDateString()</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><h5>Assessment Template : </h5></div>
                        <div class="col-md-10">
                            @if (assessment.assess_group == 1)
                            {
                                <strong>Question & Answer</strong>
                            }
                            else if (assessment.assess_group == 2)
                            {
                                <strong>VAK</strong>
                            }
                            else if (assessment.assess_group == 3)
                            {
                                <strong>Range(@(" " + assessment.lower_title + " : " + assessment.lower_value + "  " + assessment.high_title + " : " + assessment.high_value))</strong>
                            }
                            else if (assessment.assess_group == 4)
                            {
                                <strong>Rank</strong>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><h5>Type : </h5></div>
                        <div class="col-md-10">
                            @if (assessment.assess_type == "3")
                            {
                                <strong>Both</strong>
                            }
                            else if (assessment.assess_type == "1")
                            {
                                <strong>Post</strong>
                            }
                            else if (assessment.assess_type == "2")
                            {
                                <strong>Pre</strong>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 column">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4 class="panel-title">Questions</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="div-table-class">
                                <table id="table-feed" class="table table-striped table-bordered dataTable small" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Question</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (tbl_assessment_question obassessment_question in listassessment_question)
                                        {
                                            <tr>
                                                <td style="width:90%;">@obassessment_question.assessment_question</td>
                                                <td style="width:10%;">
                                                    <a href="javascript:(0);" onclick="fancybody('Assessment', 'edit_assessment_question','@obassessment_question.id_assessment_question')"> <i class="glyphicon glyphicon-edit"></i></a>
                                                    &nbsp;|&nbsp; <a class="glyphicon glyphicon-remove-circle" href="#" alt="delete" width="15" height="15" onclick="delete_question(@obassessment_question.id_assessment_question)"></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 ">
                            @using (Html.BeginForm("publish_assessment", "Assessment", FormMethod.Post, new { id = "form-add-assessment", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="asses-id" name="asses-id" value="@assessment.id_assessment" />

                                <input type="button" value="add question" name="btn_submit" class="btn btn-default" onclick="show_question_div()" />
                                <input type="submit" value="publish assessment" name="btn_submit" class="btn btn-default" />
                                <a href="@Url.Action("Index", "Assessment" )" class="btn btn-default">Close</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="add-new-question" style="display:none;">
        <div class="col-md-12 column">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h4 class="panel-title">Add Assessment Question</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("add_assessment_question", "Assessment", FormMethod.Post, new { id = "form-add-assessment-question", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-12">
                                <div id="theme-1-header" class="form-group">
                                    <input type="text" class="form-control validate[required]" value="" placeholder="Question" id="q-title" name="q-title" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FirstName" class="control-label col-md-1">Image:</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control " readonly value="" placeholder="Question Image[optional]" id="question-image" name="question-image" />
                                <div class="fileUpload btn btn-primary">
                                    <span>Browse Image</span>
                                    <input id="question-btn" name="question-image" class="upload" type="file" accept="image/*" onchange="select_file('question-btn', 'question-image', 'question-text')" />

                                </div>
                            </div>
                        </div>
                        <hr />
                        if (assessment.assess_group == 1)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="FirstName" class="control-label col-md-12">Select options </label>
                                    <div class="form-group">
                                        <select id="select-options-type" name="select-options-type" class="form-control validate[required]" onchange="generate_option(this.value)">
                                            <option value="2">2 options</option>
                                            <option value="3">3 options</option>
                                            <option value="4">4 options</option>
                                            <option value="5">5 options</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        }
                        if (assessment.assess_group == 3)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="FirstName" class="control-label col-md-12">Select Scoring Key </label>
                                    <div class="form-group">
                                        <select id="select-scoring-key" name="select-scoring-key" class="form-control validate[required]">
                                            @foreach (tbl_assessment_scoring_key item in scoring_key)
                                            {
                                                <option value="@item.id_assessment_scoring_key">@item.header_name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        }
                        <hr />
                        <div id="options">
                            @if (assessment.assess_group == 1)
                            {
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <textarea class="form-control validate[required]" name="t-content-1" id="t-content-1" placeholder="Option 1" rows="2"></textarea>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <textarea class="form-control validate[required]" name="t-content-2" id="t-content-2" placeholder="Option 2" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (assessment.assess_group == 2)
                            {
                                for (int i = 1; i <= scoring_key_count; i++)
                                {
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <textarea class="form-control validate[required]" name="t-content-@i" id="t-content-@i" placeholder="Option @i" rows="2"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                }
                            }
                            else if (assessment.assess_group == 4)
                            {
                                <hr />
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="FirstName" class="control-label col-md-12"> Scoring Key </label>
                                    </div>
                                    <div class="col-md-8">
                                        <label for="FirstName" class="control-label col-md-12"> Option </label>
                                    </div>
                                </div>

                                for (int i = 1; i <= scoring_key_count; i++)
                                {
                                    <div class="row">
                                        <div class="col-md-4">
                                            <select id="t-scoring-key-@i" name="t-scoring-key-@i" class="form-control validate[required]">
                                                @foreach (tbl_assessment_scoring_key item in scoring_key)
                                                {
                                                    <option value="@item.id_assessment_scoring_key">@item.header_name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <textarea class="form-control validate[required]" name="t-content-@i" id="t-content-@i" placeholder="Option @i" rows="2"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                }
                            }
                            else
                            {

                            }
                        </div>
                        <hr />
                        if (assessment.assess_group == 1)
                        {

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="FirstName" class="control-label col-md-12">Select Answer </label>
                                    <div class="form-group">
                                        <select id="select-answer" name="select-answer" class="form-control validate[required]">
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <hr />
                        }
                        else if (assessment.assess_group == 2)
                        {
                            @*<div class="row">
                                    <div class="col-md-6">
                                        <label for="FirstName" class="control-label col-md-12">Select Answer </label>
                                        <div class="form-group">
                                            <select id="select-answer" name="select-answer" class="form-control validate[required]">
                                                @for (int i = 1; i <= scoring_key_count; i++)
                                                {
                                                    <option value="@i">Option @i</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <hr />*@
                        }
                        else if (assessment.assess_group == 3)
                        {

                        }
                        else if (assessment.assess_group == 4)
                        {

                        }
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="hidden" id="id-assessment" name="id-assessment" value="@assessment.id_assessment" />
                                <input type="submit" value="Save and continue" name="btn_submit" class="btn btn-default" />
                                <a href="@Url.Action("Index", "Assessment" )" class="btn btn-default">Close</a>
                            </div>
                        </div>
                    }
                    <div id="question-focus"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="content-dialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Assessment  Status</h3>
            </div>
            <div class="modal-body" id="msg-txt">
                <p style="text-align:center">Assessment  Added successfully</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<script type="text/javascript">
    function generate_option(val) {
        var options = '';
        var no_answers = '';

        for (var i = 1 ; i <= val ; i++) {
            options += '  <div class="row"> ';
            options += '         <div class="col-md-8">';
            options += '             <div class="form-group">';
            options += '                 <textarea class="form-control validate[required]" name="t-content-' + i + '" id="t-content-' + i + '" placeholder="Option ' + i + '" rows="2"></textarea>';
            options += '             </div>';
            options += '          </div>';
            options += '     </div>';

            no_answers += ' <option value="' + i + '">Option ' + i + '</option>';
        }

        $("#options").empty().append(options);
        $("#select-answer").empty().append(no_answers);

    }
</script>
