@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}

@{

    List<m2ostnext.Models.NotificationUserList> nList = (List<m2ostnext.Models.NotificationUserList>)ViewData["noteList"];
    tbl_notification notification = (tbl_notification)ViewData["notification"];
}

<link rel="stylesheet" href="~/Content/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/datatable/css/dataTables.bootstrap.min.css" />
<script type="text/javascript" src="~/Content/datatable/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#report-table").dataTable();
    });
</script>

<style>
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        margin-right: 10px;
        margin-left: 10px;
        border-top: 1px solid #000;
    }
</style>
<div id="pagecontent_dashboard">
    <div class="panel panel-default custom-panel">
        <div class="panel-heading custom-panel-heading">
            <div class="panel-title">
                Notification Detail
            </div>

        </div>
        <div class="panel-body custom-panel-body">
            <div class="col-md-12 column">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-2"><h5>Notification Title : </h5></div>
                        <div class="col-md-10">
                            <pre>@notification.notification_name</pre>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"><h5>Description : </h5></div>
                        <div class="col-md-10">
                            <pre>@notification.notification_description</pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><h5>Message : </h5></div>
                        <div class="col-md-10">
                            <pre>@notification.notification_message</pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-3"><h5>Created  </h5></div>
                                <div class="col-md-9">
                                    <strong>@notification.created_date.Value.ToString()</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-3"><h5>Start  </h5></div>
                                <div class="col-md-9">
                                    <strong>@notification.created_date.Value.ToString()</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-3"><h5>End  </h5></div>
                                <div class="col-md-9">
                                    <strong>@notification.end_date.Value.ToString()</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"><h5>Notification Type : </h5></div>
                    <div class="col-md-10">
                        @if (notification.notification_type == 1)
                        {
                            @("Generic Notification")
                        }
                        else if (notification.notification_type == 2)
                        {
                            @("Event based Notification")
                        }
                        else if (notification.notification_type == 3)
                        {
                            @("Content Specific Notification")
                        }
                        else if (notification.notification_type == 4)
                        {
                            @("Content Reminder Notification")
                        }
                    </div>
                </div>

                <hr />
            </div>

            <hr />
            <table id="report-table" class="table table-striped table-bordered dataTable small" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="80%">User</th>
                        <th width="20%">Status </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (m2ostnext.Models.NotificationUserList item in nList)
                    {
                        <tr>
                            <td>
                                @item.USER
                            </td>
                            <td>
                                @item.STATUS
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <hr />

        </div>
    </div>
</div>
