
@{
    ViewBag.Title = "ReportSeminar";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
    List<m2ostnext.Models.seminar_report> report = (List<m2ostnext.Models.seminar_report>)ViewData["report"];
}

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/studentreport/StyleSheet1.css">
<script type="text/javascript" src="~/Content/studentreport/pagination.js"></script>

<style>
    #manja_wrapper {
        overflow: scroll;
    }

    #manja_filter input {
        border: 1px solid #ccc;
    }

    body {
        counter-reset: Serial; /* Set the Serial counter to 0 */
    }

    table {
        border-collapse: separate;
    }

    tr td:first-child:before {
        counter-increment: Serial; /* Increment the Serial counter */
        content: counter(Serial); /* Display the counter */
    }
</style>

<div class="content">
    <div class="col-md-12 column">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">Seminar Report</h6>
            </div>
            <div class="panel-body">
                <div class="row">
                    <table id="manja" class="table table-striped table-bordered dataTable sm" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>
                                    Sr No
                                </th>
                                <th>
                                    Seminar ID
                                </th>
                                <th>
                                    Seminar Title
                                </th>

                                <th>
                                    Stream
                                </th>
                                <th>
                                    Speaker Name
                                </th>

                                <th>
                                    Date
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    User Name
                                </th>
                                <th>
                                    ID User
                                </th>
                                <th>
                                   Ratings
                                </th>
                                <th>
                                   Feedback
                                </th>
                                <th>
                                   Time Stamp
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in report)
                            {
                            <tr>
                                <td></td>

                                <td>
                                    @item.id_seminar
                                </td>

                                <td>
                                    @item.title
                                </td>

                                <td>
                                    @item.stream
                                </td>
                                <td>
                                    @item.speaker_name
                                </td>
                                <td>
                                    @item.seminar_start_time
                                </td>

                                <td>
                                    @item.location
                                </td>

                                <td>
                                    @item.FIRSTNAME
                                </td>
                                <td>
                                    @item.id_user
                                </td>
                                <td>
                                    @item.ratings
                                </td>
                                <td>
                                    @item.feedback
                                </td>
                                <td>
                                    @item.update_date_time
                                </td>
                            </tr>

                            }
                        </tbody>

                    </table>
                    <a href='@Url.Action("ExcelAllReport", "SeminarDashboard")' class="btn btn-primary">Report Download</a>

                </div>
            </div>
        </div>
    </div>
</div>

