
@{
    ViewBag.Title = "Group Dashboard";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";
}


@{

    tbl_kpi_master master = (tbl_kpi_master)ViewData["master"];
    List<tbl_kpi_grid> grids = (List<tbl_kpi_grid>)ViewData["grids"];
    int flagmsg = (int)ViewData["flag"];
}
<script type="text/javascript">
    $(window).load(function () {

        if (@flagmsg == 1) {
            $('#content-dialog').modal('show');
        }
    });
</script>
<div class="row clearfix">
    <div class="col-md-12 column">

        <div class="panel panel-default ">
            <div class="panel-heading">
                <h4 class="panel-title">KPI Details</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label style="min-width:150px;">Game Title   </label>
                                <strong>@master.kpi_name</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label style="min-width:150px;">Description   </label>
                                <strong>@master.kpi_description</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label style="min-width:150px;">Start Date   </label>
                                <strong>@master.start_date</strong>
                            </div>
                            <div class="col-md-6">
                                <label style="min-width:150px;">Expiry Date   </label>
                                <strong>@master.expiry_date</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label style="min-width:150px;">KPI Type   </label>
                                @if (master.kpi_type == 3)
                                {
                                    <strong>Normal KPI</strong>
                                }
                                else if (master.kpi_type == 1)
                                {
                                    <strong>Content KPI</strong>
                                }
                                else if (master.kpi_type == 2)
                                {
                                    <strong>Assessment KPI</strong>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <table class="table" style="height:80px;width: 100%;">
                            <thead>
                                <tr style="background-color:#793079;color:white">

                                    <th width="60%">
                                        KPI Range
                                    </th>                                   
                                    <th width="15%">
                                        KPI Value
                                    </th>
                                    <th width="15%">
                                        KPI Text
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (tbl_kpi_grid item in grids)
                                {
                                    <tr style="background-color:#cb84cb;color:white;">

                                        <td>
                                            @item.start_range To @item.end_range
                                        </td>

                                        <td>
                                            <strong> @item.kpi_value</strong>
                                        </td>
                                        <td>
                                            <strong> @item.kpi_text</strong>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="content-dialog" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">KPI  Status</h3>
            </div>
            <div class="modal-body" id="msg-txt">
                <p style="text-align:center">KPI  Added successfully</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
