@model IEnumerable<m2ostcms.Models.tbl_content_metadata>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CONTENT_METADATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTENT_METADATA_COUNTER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATED_DATE_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_content_answer.CONTENT_ANSWER1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CONTENT_METADATA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTENT_METADATA_COUNTER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATED_DATE_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_content_answer.CONTENT_ANSWER1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_CONTENT_METADATA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_CONTENT_METADATA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_CONTENT_METADATA })
        </td>
    </tr>
}

</table>
