@{
    ViewBag.Title = "Content Detail";
    Layout = "~/Views/Shared/_cms_Layout.cshtml";

}
<link rel="stylesheet" href="~/Content/datatable/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/datatable/css/dataTables.bootstrap.min.css" />
<script type="text/javascript" src="~/Content/datatable/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $("#report-table").dataTable();
    });

</script>

@{
    List<m2ostnext.Models.CMSRole> cmsList = (List<m2ostnext.Models.CMSRole>)ViewData["cmsrole"];
    m2ostnext.Models.UserSession Sessions = (m2ostnext.Models.UserSession)HttpContext.Current.Session["UserSession"];
    bool access = false;
    List<tbl_organization> orglist = (List<tbl_organization>)ViewData["orglist"];
    foreach (tbl_cms_role_action_mapping item in Sessions.action)
    {
        if (item.id_cms_role_action == 3)
        {
            access = true;
        }
    }
}

<div class="content">
    <div class="col-md-12 column">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">CMS Role Display</h6>
            </div>
            <div class="panel-body">
                @if (access)
                {
                    <a href="@Url.Action("add_cms_role", "Administrator")" class="btn btn-default btn-info pull-right">create role</a>
                    <hr />
                }
                <table id="report-table" class="table table-striped table-bordered dataTable small" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Role </th>
                            <th>Organisation</th>
                            <th>Function</th>
                            @if (access)
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (m2ostnext.Models.CMSRole item in cmsList)
                        {
                            <tr>
                                <td>@item.ROLE.ROLENAME</td>
                                <td>
                                    @foreach (tbl_organization iAct in orglist)
                                    {
                                        if (item.ROLE.ID_ORGANIZATION == iAct.ID_ORGANIZATION)
                                        {
                                            @(iAct.ORGANIZATION_NAME)
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (tbl_cms_role_action iAct in item.Action)
                                    {
                                        @(iAct.cms_role_action + " , ")
                                    }
                                </td>
                                @if (access)
                                {
                                    <td><a href="@Url.Action("edit_cms_role", "Administrator", new { id = item.ROLE.ID_ROLE })"><i class="glyphicon glyphicon-edit"></i></a></td>
                                }
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
